@font-face {
    font-family: 'Avenir';
    src: url(../avenir_ff/AvenirLTStd-Black.otf);
    font-style: normal;
    font-size: medium;
}

@font-face {
    font-family: 'Lato';
    src: url(../Lato-Black.ttf);
    font-style: normal;
    font-size: medium;
}

@font-face {
    font-family: 'Georgia';
    src: url(../Georgia/georgia\ bold.ttf);
    font-style: normal;
    font-size: medium;
}

*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "header header header "
        "main main main "
        "footer footer footer ";
}

.header {
    grid-area: header;
    height: 1fr;
    width: 100%;
    background-image: url(../images/radu-florin-CwTBt6jyagQ-unsplash\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-areas: "logo nav btn";
    justify-items: center;
}

.logo {
    grid-area: logo;
    height: 100%;
    justify-content: center;
    width: 20%;
}

.pct {
    max-width: 100%;
    height: 5vh;
}

.nav {
    grid-area: nav;
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "nav_1 nav_2 nav_3 nav_4 ";
    justify-items: center;
    align-items: flex-start;
    margin: 15px;
    font-size: 1vh;
    font-family: 'Lato';
}

.nav_1 {
    grid-area: nav_1;
    text-decoration: none;
    justify-content: center;
    color: #292929;
}

.nav_2 {
    grid-area: nav_2;
    text-decoration: none;
    justify-content: center;
    color: #292929;
}

.nav_3 {
    grid-area: nav_3;
    text-decoration: none;
    justify-content: center;
    color: #292929;
}

.nav_4 {
    grid-area: nav_4;
    text-decoration: none;
    justify-content: center;
    color: #292929;
}

.btn {
    grid-area: btn;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "pct_2  button";
    gap: 10px;
    justify-items: center;
}

.pct_2 {
    max-width: 100%;
    width: 2vw;
    height: 2vh;
    grid-area: pct_2;
}

.button {
    grid-area: button;
    font-family: 'Lato';
    font-size: 1vh;
    text-decoration: none;
    color: #292929;
    justify-content: center;

}

.main {
    grid-area: main;
    height: 1fr;
    width: 100%;
    background: rgba(36, 88, 82, 1);
    display: grid;
    grid-template-columns: 45% 1fr;
    gap: 10px;
    grid-template-areas:
        "cont_03 cont_04"
        "cont_03 cont_04"
        "cont_03 cont_04"
        "cont_03 cont_04"
        "cont_03 cont_04"
        "cont_03 cont_04";
}

.cont_03 {
    grid-area: cont_03;
    height: 1fr;
    justify-content: center;
    display: grid;
    text-align: center;
}

.lets {
    font-family: 'Georgia';
    color: rgba(255, 255, 255, 1);
    align-self: center;
    font-size: 5vh;
}

.cont_04 {
    grid-area: cont_04;
    height: 1fr;
    display: grid;
}

.video {
    align-self: center;
    justify-self: center;
    padding: 5px;
    max-width: 100%;
}

.footer {
    grid-area: footer;
    display: grid;
    height: 1fr;
    width: 100%;
}

.wrapper {
    max-width: 100%;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color:
        rgba(36, 88, 82, 1);
    display: grid;
    grid-template-columns: 200px;
    grid-auto-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "text "
        "txt"
        "txt_1"
        "txt_2"
        "txt_3 ";
    gap: 5px;
}

.text {
    grid-area: text;
    width: 100%;
    height: 1fr;
    justify-content: left;
    font-family: 'Avenir';
    color: white;
    font-size: 4vh;
}



.txt_1 {
    grid-area: txt_1;
    width: 100%;
    height: 1fr;
    font-family: 'Lato';
    color: white;
    font-size: 2vh;
    text-decoration: none;
}

.txt_2 {
    grid-area: txt_2;
    width: 100%;
    height: 1fr;
    font-family: 'Lato';
    color: white;
    font-size: 2vh;
    text-decoration: none;
}


.txt_3 {
    grid-area: txt_3;
    width: 100%;
    height: 1fr;
    font-family: 'Lato';
    color: white;
    font-size: 2vh;
    text-decoration: none;
}

.txt {
    grid-area: txt;
    width: 100%;
    height: 1fr;
    font-family: 'Lato';
    color: white;
    font-size: 2vh;
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    .container {
        min-height: 100%;
        height: 100%;
        margin: 0;
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-areas:
            "header header header "
            "main main main "
            "footer footer footer ";
    }
}

@media screen and (min-width: 400px) and (max-width: 599px) {
    .footer {
        display: none;
    }

    .container {
        display: grid;
        height: 90vh;
        width: 100vw;
        grid-template-rows: 25% 1fr;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "header header"
            "main main";
    }

    .main {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-rows: 20% 70%;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "cont_03 cont_03"
            " cont_04 cont_04";
        justify-items: center;
    }

    .cont_04 {
        align-content: flex-start;
    }

}

@media screen and (max-width: 399px) {
    .footer {
        display: none;
    }

    .main {
        height: 65vh;
        display: grid;
    }


    .header {
        height: 33vh;
    }
}